/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	line-height: 1.6;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* Buttons */
button {
  width: 8em;
  font-size: .85em;
  padding: .65em 1em;
  border-radius: 0.5em;
  outline: 0;
}

button {
  color: white;
  background: #52bab3;
  border: solid 1px;
  border-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.mobile-float-menu {
  float: right;
  position: fixed;
  width: 200px;
  height: 100%;
  right: 0;
  font-size: 1.5em;
  padding: .5em 0em;
  padding-left: .5em;
  background-color: lightcyan;
}

.mobile-float-menu ul {
  margin-top: 2px;
  margin-right: 0; 
}

button.x {
  float: right;
  position: fixed;
  right: .4em;
  width: 1.6em;
  height: 1.6em;
  font-size: .8em;
  padding: 0;
  color: white;
  background: #52bab3;
  border: solid 1px;
  border-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.menu-icon {
	float: right;
	text-align: center;
	margin-top: 0.3em;
	margin-right: 10px;
  cursor: pointer;
}

.menu-icon div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.main-nav {
	display: none;
	float: right;
}

.main-nav li {
	display: inline-block;
  margin-left: 15px;
}

.main-nav a {
	text-align: center;
 	display: block;
  padding: 10px 15px;
  font-size: .95em;
	color: #0099ff;
	text-transform: uppercase;
}

ul.main-nav {
  padding: 0;
  margin: 0 auto;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.logoAndTitle {
  float: left;
  display: inline-block;
}

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.sec-title {
  margin: 0 auto;
  text-align: center;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: #fff;
	background: #0099ff;
	padding: 3.2em 0;
	margin-bottom: 60px;
  width: 100%;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */
.title {
	display: inline-block;
	font-size: 1.5em;
	margin: 0 auto;
}


.logo {
	width: 1.5em;
	margin-right: .4em;
	margin-left: 10px;
	margin-top: 2px;
}

.headline {
	margin-bottom: 0;
}

/* ================================= 
  Media Queries
==================================== */

/* ---- Float clearfix ---- */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

@media (min-width: 500px) {

  .container {
    width: 95%;
    margin: 0 auto;
  }

  .col {
    float: left;
  }
 
  .box {
    width: 45%;
    margin: 2.5% 2.5%;
  }

  .main-nav {
    float: right;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }

  .tagline {
    font-size: 1.4em;
  }

}

@media (min-width: 800px) {

  .menu-icon {
  	display: none;
  }

  .main-nav {
  	display: block;
	  float: right;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .col {
    float: left;
  }

  .tagline {
    font-size: 1.4em;
  }

}

@media (min-width: 1200px) {
  
    .container {
      width: 80%;
      max-width: 1200px;
    }

}